.profile {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 30px;
}

.float-container {
    border: 1px solid black;
    border-radius: 10px;
    height: 95vh;
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 1 / 5;
    grid-row: 1 / 13;
    position: sticky;
    top: 20px;
}

.profile-container {
    display: grid;
    grid-template-areas: 
    "profilePic info info"
    ". button .";
    gap: 15px;
    padding: 10px;
    border-bottom: 1px solid black;
}

.profile-container img {
    grid-area: profilePic;
    width: 80px;
    border: 1px solid black;
    border-radius: 10px;
}

.info {
    grid-area: info;
}

.info h3,
.top-wishlist h3 {
    font-size: 1.4rem;
}

.info p,
.top-wishlist p {
    font-size: 0.8rem;
}

.profile-container button {
    grid-area: button;
}

.input-container div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}

.input-container button {
    display: block;
    margin: 10px auto;
}

.wishlist-container {
    border: solid black 1px;
    border-radius: 10px;
    width: 80%;
    margin: 20px auto;
    padding: 10px;
    overflow: auto;
    height: 50%;
}

.wishlist-container figure {
    width: 60%;
    margin: 10px auto;
    font-size: 0.7rem;
    text-align: center;
}

.wishlist-container img {
    width: 50%;
}

.wishlist-container figcaption {
    width: 100%;
}

.top-wishlist {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.viewed-products {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.view-products-container {
    grid-column: 5 / 13;
    grid-row: 1 / 6;
}

.orders {
    height: 60vh;
    width: 100%;
    grid-column: 5 / 13;
    grid-row: 7 / 13;
    overflow: auto;
}

.orders > h2 {
    position: sticky;
    top: 10px;
    height: 60px;
    background-color: #EAE8FF;
    z-index: 1;
    padding-left: 30px;
    margin: 10px;
}


.detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    gap: 20px;
}

.detail-container h2 {
    font-size: 1.4rem;
}

.detail-container h3 {
    font-size: 1.2rem;
    text-align: center;
}

.detail-container > div {
    width: 25%;
}

.detail-container button {
    width: 150px;
    font-size: 0.9rem;
}

.detail-container > p {
    width: 25%;
}

.order-border {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.carousel.slide img {
    width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }

  .button-add-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .sticky {
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    border-radius: 10px;
  }


  .height {
    height: 90vh;
}