.shopping-cart {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.order-details {
    display: flex;
    flex-direction: column;
    height: 70vh;
    border: 1px solid black;
    width: 60%;
}

.order-details h2 {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
}

.table-header {
    margin-left: 10%;
}

.product-cart-detail {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}

.product-cart-detail img {
    border-radius: 10px;
}

.item-detail {
    overflow: auto;
}

.checkout-info {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    height: 30vh;
}

.price-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px 10px 10px 10px;
}